{% extends "base.html" %}<!--2.คำสั่งในการดึง templates หลักมาใช้-->

<!--3.คำสั่งในการสร้างชื่อ title-->
{% block title %}
    <title>About Plai</title>
{% endblock %}

<!--4.คำสั่งในการสร้างเนื้อหาภายใน-->
{% block content %}
    <h1 style="color:rgb(224, 224, 255)">About us</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio rem quae doloribus alias, architecto consequuntur, hic nulla mollitia beatae omnis ullam eius delectus corrupti magni quidem ratione ab quos sit.</p>
{% endblock %}